<!DOCTYPE html>
<html ng-app="IUsWe">
<head>
    <base href="/">
    <meta charset="utf-8">
    <!-- Title here -->
    <title>I.Us.We</title>
    <!-- Description, Keywords and Author -->
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your,Keywords">
    <meta name="author" content="ResponsiveWebInc">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/public/js/lib.js"></script>
    <script src="/public/js/app.js"></script>

    <link rel="stylesheet" href="/public/styles/ghostdown.css">

    <link rel="stylesheet" href="/public/styles/bootstrap.min.css">
    <link rel='stylesheet' href='/public/styles/style.css'/>
    <link rel='stylesheet' href='/public/styles/dialogs.min.css'/>
    <link rel='stylesheet' href='/public/font-awesome/4.2.0/css/font-awesome.min.css'/>
    <script language="JavaScript">
        window.AppProperties = {
            baseUrl: 'http://127.0.0.1:8080'
        };

        window.AppProperties.isLoggedIn = window.AppProperties.loggedInUsername != null && window.AppProperties.loggedInUsername != 'null' && window.AppProperties.loggedInUsername != '';
    </script>

</head>

<body>

<!-- Form area -->
<div class="admin-form" ng-controller="HomePageController">
    <!-- Widget starts -->
    <div class="widget wblue">
        <!-- Widget head -->
        <div class="widget-head">
            <i class="fa fa-lock"></i> Login
        </div>

        <div class="widget-content">
            <div class="padd">
                <!-- Login form -->
                <form class="form-horizontal">
                    <!-- Email -->
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="inputEmail">Email</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="inputEmail" ng-model="input.loginEmail" placeholder="Email">
                        </div>
                    </div>
                    <!-- Password -->
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="inputPassword">Password</label>
                        <div class="col-lg-9">
                            <input type="password" class="form-control" id="inputPassword" ng-model="input.loginPassword" placeholder="Password">
                        </div>
                    </div>

                    <!-- Remember me checkbox and sign in button -->
                    <div class="form-group">
                        <div class="col-lg-9 col-lg-offset-3">
                            <button class="btn btn-primary" ng-click="signin()">Sign in</button>
                        </div>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
        </div>

        <!-- registration -->

        <div class="admin-form">
            <!-- Widget starts -->
            <div class="widget wblue">
                <div class="widget-head">
                    <i class="fa fa-lock"></i> Register
                </div>
                <div class="widget-content">
                    <div class="padd">
                        <form class="form-horizontal">
                            <!-- Registration form starts -->
                            <!-- Name -->
                            <div class="form-group">
                                <label class="control-label col-lg-3" for="name">Name</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" ng-model="input.registerName" id="name">
                                </div>
                            </div>
                            <!-- Email -->
                            <div class="form-group">
                                <label class="control-label col-lg-3" for="email">Email</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" ng-model="input.registerEmail" id="email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-3" for="rPassword">Password</label>
                                <div class="col-lg-9">
                                    <input type="password" class="form-control" ng-model="input.registerPassword" id="rPassword">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-3" for="address">Address</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" ng-model="input.registerAddress" id="address">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-3" for="userType">I will</label>
                                <div class="col-lg-9" id="userType">
                                    <select class="form-control" ng-model="input.userType">
                                        <option value="0">Donate Food</option>
                                        <option value="1">Volunteer for IUsWe</option>
                                        <option value="2">Admininster IUsWe</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-3" for="pledge">Pledge</label>
                                <div class="col-lg-9" id="Pledge">
                                    <select class="form-control" ng-model="input.pledgeType">
                                        <option value="0">daily</option>
                                        <option value="1">Every Saturday</option>

                                    </select>
                                    or <input type="number" ng-model="input.pledgeWeekDay"> Of the Month
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-3" for="totalCapacity">Quantity of hard food</label>
                                <div class="col-lg-9">
                                    <input type="number" class="form-control" ng-model="input.totalCapacity" id="totalCapacity">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-3" for="Location">Location</label>
                                <div class="col-lg-9" id="Location">
                                    <input type="text" class="form-control" ng-model="input.latitude" placeholder="latitude">
                                    <input type="text" class="form-control" ng-model="input.longitude" placeholder="longitude">
                                </div>
                            </div>

                            <!-- Accept box and button s-->
                            <div class="form-group">
                                <div class="col-lg-9 col-lg-offset-3">
                                    <button class="btn btn-primary" ng-click="signup()">Register</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="widget-foot">
                    Already Registred? <a href="login.html">Login</a>
                </div>
            </div>
        </div>

        <!-- registration -->

    </div>
</div>


</body>
</html>